<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <header class="header" th:fragment="header">
        <div class="container d-flex align-items-center">
            <nav class="header__nav nav nav_inline nav_alpha">
                <li class="nav__item"><a href="my-network.html" class="nav__link">My network</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Search professional</a>
                </li>
            </nav>
            <div class="header__link ml-auto"><a href="#" class="nav__link">Switch to Russian</a>
            </div>
            <ul class="chain chain_alpha header__chain d-flex align-items-center">
                <li class="chain__item">
                    <div class="middle">
                        <a href="#">
                            <img src="/images/chain/alpha/star.svg" />
                        </a>
                    </div>
                </li>
                <li class="chain__item">
                    <div class="middle">
                        <a href="#">
                            <img src="/images/chain/alpha/bell.svg" />
                        </a>
                    </div>
                </li>
                <li class="chain__item">
                    <div class="middle">
                        <a href="#">
                            <img src="/images/chain/alpha/message.svg" />
                        </a>
                    </div>
                </li>
            </ul>
            <div class="header__user ml-2">
                <div class="middle">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>