<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <header class="header" th:fragment="header">
        <div class="container d-flex align-items-center">
            <nav class="header__nav nav nav_inline nav_alpha">
                <li class="nav__item"><a th:href="@{/user/me}" class="nav__link" th:text="#{myNetwork.button}">My network</a>
                </li>
                <li class="nav__item"><a th:href="@{/search}" class="nav__link" th:text="#{searchProf.button}">Search professional</a>
                </li>
            </nav>
            <div class="header__link ml-auto">
                    <a class="nav__link" th:href="@{?locale=en}" th:text="#{lang.en}"></a>
                    <span>|</span>
                    <a class="nav__link" th:href="@{?locale=ru}" th:text="#{lang.ru}"></a>
            </div>
            <ul class="chain chain_alpha header__chain d-flex align-items-center">
                <li class="chain__item">
                    <div class="middle">
                        <a href="#">
                            <img src="/images/chain/alpha/star.svg" />
                        </a>
                    </div>
                </li>
                <li class="chain__item" th:if="${notifications!=null}">
                    <div class="middle">
                        <a href="#" onclick="notificationClick()">
                            <img src="/images/chain/alpha/bell.svg" />
                        </a>
                        <!--TODO: ?Hide notificationList on blur-->
                        <span id="notificationCount" th:text="${notifications.size()}"></span>
                        <span id="collapsibleNotificationList"
                        style="position: absolute;
                        width: 300px;
                        overflow-y: auto;
                        background-color: white;
                        border: 2px solid gray;
                        max-height: 120px;
                        padding: 3px;
                        display: none;">
                            <a style="
                            margin-bottom: 4px;
                            border-top: 1px solid gray;
                            display: block;
                            font-size: 12px;
                            width: 100%;" th:href="${notification.urlPath}" th:each="notification : ${notifications}">
                                <div style="width: 100%; white-space: pre-wrap; padding: 10px;" th:text="${notification.messageEN}"></div>
                                <!--<div style="height: 25px; margin-top: 15px;" th:text="${notification.formatTime()}"></div>-->
                            </a>
                        </span>
                    </div>
                </li>
                <li class="chain__item">
                    <div class="middle">
                        <a href="#">
                            <img src="/images/chain/alpha/message.svg" />
                        </a>
                    </div>
                </li>
            </ul>
            <div class="header__user ml-2">
                <div class="middle">
                    <a th:href="@{/user/me}"><img th:src="${user == null} ? 'https://i.imgur.com/ahcplHm.png':${user.user_img}" style="width:100%;height:100%; border-radius:100px" /></a>
                </div>
            </div>
        </div>
        <script>
/*<![CDATA[*/
function notificationClick(){
    const listEl = document.getElementById('collapsibleNotificationList');
    listEl.style.display = listEl.style.display == 'none' ? 'block' : 'none';
}
// var notifications = /*[[${notifications}]]*/ undefined;
// console.log({notifications});
// document.getElementById('notificationCount').innerHTML = Math.round( Math.random()*50 );

/*]]>*/
</script>
    </header>
</body>
</html>