<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<footer class="footer  mt-auto" th:fragment="footer">
    <div class="container">
        <div class="row justify-content-center">
            <nav class="footer__nav nav nav_inline text-center">
                <li class="nav__item"><a href="#" class="nav__link">Terms of the License Agreement</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Help</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Mobile App</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Facebook</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Twitter</a>
                </li>
            </nav>
        </div>
    </div>
</footer>
</body>
</html>