<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<!--<img style="width: 300px; height: 300px;display: block; text-align: center;"
     src="https://sun9-68.userapi.com/c543109/v543109873/18576/iEYn0W84Pfg.jpg" alt="mem">-->
<br>
<h4 th:if="${isAuthenticated == null || isAuthenticated == false}">Вы не авторизованы</h4>
<div th:if="${isAuthenticated == null || isAuthenticated == false}">
    <a th:href="@{/login}">Авторизация</a>
    <hr>
    <a th:href="@{/registration}">Регистрация</a>
    <hr>
</div>
<div th:if="${isAuthenticated}">
    <a th:href="@{/user/me}">Открыть мой профиль</a>
    <hr>
    <a th:href="@{/test-import}">Тест импорт</a>
    <hr>
    <a th:href="@{/search}">Поиск</a>
    <hr>
    <a th:href="@{/admin-token}">Админ. панель</a>
    <hr>
    <a th:href="@{/forget-me}">Выйти из учетной записи</a>
</div>
</body>
</html>