<!DOCTYPE html>
<html class="lang-en country-en" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="application-name" content="Profile (owners mode)">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Profile (owners mode) | 6hands</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/css/fonts/fonts.css?t=1571117825218" rel="stylesheet" type="text/css">
    <link href="/css/vendor/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="/css/vendor/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="/css/hands/app.css?t=1571117825218" rel="stylesheet" type="text/css">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   </head>-->


</head>

<body>
<div style="" class="root d-flex flex-column">
    <div th:replace="common/header :: header">&nbsp;</div>
    <div data-page="projectNotAproved" class="dataProvider"></div>
    <main class="root__in pb-5">
        <div class="container">
            <section class="box box_admin box_widget_white mt-4 py-0">
                <div class="box__inner">
                    <div class="box__inner-widget">
                        <div class="card card_alpha list_item_person">
                            <div class="card__image">
                                <div class="middle">
                                    <div>
                                        <img th:src="${user == null} ? 'Error':${user.user_img}"
                                             style="width:304px;height:228px"/>
                                    </div>
                                </div>
                                <span class="card__caption" th:text="#{rating.text}+${userData.rating}"></span>
                            </div>
                            <div class="card__content">
                                <h2 class="card__title"
                                    th:text="${user == null} ? 'Error':${user.first_name}+' '+${user.last_name}"></h2>
                                <a th:if="${canEdit}" href="?edit=1" th:text="#{editMyProfile.button}">Edit my
                                    profile</a>
                                <div class="card__short-desc"
                                     th:text="${user == null} ? 'Error':${user.city}+', '+${user.country}"></div>
                                <div class="card__chain chain d-flex align-items-center">
                                    <li class="chain__item">
                                        <div class="middle">
                                            <a href="#">
                                                <img src="/images/card/social/mail.svg">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="chain__item">
                                        <div class="middle">
                                            <a href="#">
                                                <img src="/images/card/social/google-plus.svg">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="chain__item">
                                        <div class="middle">
                                            <a href="#">
                                                <img src="/images/card/social/twitter.svg">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="chain__item">
                                        <div class="middle">
                                            <a href="#">
                                                <img src="/images/card/social/facebook.svg">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="chain__item">
                                        <div class="middle">
                                            <a href="#">
                                                <img src="/images/card/social/linkedin.svg">
                                            </a>
                                        </div>
                                    </li>
                                </div>
                                <div class="card__desc" th:text="${user == null} ? 'Error':${user.about_user}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="middle">
                                    <a onclick="sendOffer()">
                                        <img src="/images/chain/alpha/message.svg"
                                             style="width:15%;width: 15%;text-align: right;margin-top: 9%;margin-left: 90%;"/>
                                    </a>
                                    <span id="sendOfr"
                                          style="position: absolute;
                                          width: 120%;
                                          height: 100%;
                                          overflow-y: auto;
                                          background-color: white;
                                          border: 2px solid gray;
                                          max-height: 120px;
                                          padding: 20px 0px 4px;
                                          display: none;
                                          z-index: 9">
                                        <h3>Are you sure you want to send a letter <br> to a specialist with a job offer?</h3>
                                        <button id="submit" type="submit" class="btn btn_secondary btn_sm"><a
                                                href="/user/contact-offer">Send</a></button>
                                        <button class="btn btn_secondary btn_sm" id="cancel">Cancel</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <div class="row">
                <!-- left column-->
                <div class="col-12 col-lg-5">
                    <!-- Skills-->
                    <section class="box box_admin box_widget_white py-0 mt-4">
                        <div class="box__outer">
                            <div class="box__outer-title" th:text="#{skillsU.text}">Skills</div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getSkills(false)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <div class="bit__btn">
                                            <button type="button" class="btn btn_secondary btn_sm notAButton"
                                                    th:text="#{notConfirmed.button}">Not Confirmed
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getSkills(true)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <div class="bit__btn">
                                            <!--<button type="button" class="btn btn_secondary btn_sm notAButton">Not Confirmed
                                            </button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Company-->
                    <section class="box box_admin box_widget_white py-0 mt-4">
                        <div class="box__outer">
                            <div class="box__outer-title" th:text="#{companyU.text}">Company</div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getCompanies(false)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <div class="bit__desc" th:each="exp : ${prop.projectExps}">
                                            <div th:text="${exp.role}"></div>
                                            <div th:text="${exp.duties}"></div>
                                        </div>
                                        <div class="bit__btn">
                                            <button type="button" class="btn btn_secondary btn_sm notAButton"
                                                    th:text="#{notConfirmed.button}">Not Confirmed
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getCompanies(true)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <div class="bit__desc" th:each="exp : ${prop.projectExps}">
                                            <div th:text="${exp.role}"></div>
                                            <div th:text="${exp.duties}"></div>
                                        </div>
                                        <!--<div class="bit__btn">
                                            <button type="button" class="btn btn_secondary btn_sm notAButton">Not Confirmed
                                            </button>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Industry-->
                    <section class="box box_admin box_widget_white py-0 mt-4">
                        <div class="box__outer">
                            <div class="box__outer-title" th:text="#{industryU.text}">Industry</div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getIndustries(false)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <div class="bit__btn">
                                            <button type="button" class="btn btn_secondary btn_sm notAButton"
                                                    th:text="#{notConfirmed.button}">Not Confirmed
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getIndustries(true)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <!--<div class="bit__btn">
                                            <button type="button" class="btn btn_secondary btn_sm notAButton">Not Confirmed
                                            </button>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Tools-->
                    <section class="box box_admin box_widget_white py-0 mt-4">
                        <div class="box__outer">
                            <div class="box__outer-title" th:text="#{toolsU.text}">Tools</div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getTools(false)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <div class="bit__btn">
                                            <button type="button"
                                                    class="btn btn_secondary btn_sm notAButton inspect_block"
                                                    th:text="#{notConfirmed.button}">Not Confirmed
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box__inner list_item_bg" th:each="prop,iter : ${userData.getTools(true)}">
                            <div class="box__inner-widget">
                                <!-- bit-->
                                <div class="bit bit_alpha">
                                    <div class="bit__image">
                                        <div class="middle">
                                            <div>
                                                <img src="/images/bit/alpha/suitcase.svg" alt="alt"/>
                                            </div>
                                        </div>
                                        <span class="bit__caption" th:text="${prop.projects.size()}"></span>
                                    </div>
                                    <div class="bit__content">
                                        <h3 class="bit__title" th:text="${prop.property}"></h3>
                                        <!--<div class="bit__btn">
                                            <button type="button" class="btn btn_secondary btn_sm notAButton">Not Confirmed
                                            </button>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- right column-->
                <div class="col-12 col-lg-7">
                    <!-- Projects-->
                    <section class="box box_admin box_widget_white py-0 mt-4 mod003">
                        <div class="box__outer d-flex justify-content-center">
                            <div class="box__outer-title" th:text="#{projects.text}">Projects</div>
                            <span class="mod__elem-1 ml-auto" th:text="#{approvedOnly.text}">Approved only</span>
                        </div>
                        <div class="box__inner list_item_bg">
                            <div th:if="${canEdit}" class="box__inner-widget"><a href="/project/create"
                                                                                 class="link link_beta m-4"
                                                                                 th:text="#{newProjectU.button}">New
                                Project</a>
                            </div>
                        </div>
                    </section>
                    <!-- Project item-->
                    <section class="box box_admin py-0 mt-4">
                        <div class="box__inner list_item_bg">
                            <div class="box__inner-widget">
                                <!-- card-project-->
                                <div class="card-project card-project_alpha card-project_admin"
                                     th:each="projAndExp : ${projects}">

                                    <div class="d-flex">
                                        <h2 class="card-project__title" th:text="${projAndExp.project.name}">
                                            <small th:text="${projAndExp.project.end_date}"></small>
                                        </h2>
                                        <!--<button type="submit" disabled th:if="${canEdit}">Edit project</button>-->
                                        <div class="card-project__image">
                                            <div th:if="${canEdit}">
                                                <a
                                                        th:if="${projAndExp.projectExp.project_creator}"
                                                        th:href="'/project/'+${projAndExp.project.uuid}+'/edit?as=creator'"
                                                        class="btn btn_secondary btn_sm"
                                                        th:text="#{editCreator.button}">Edit (Creator)</a>
                                                <a th:if="${projAndExp.projectExp.project_creator == false}"
                                                   th:href="'/project/'+${projAndExp.project.uuid}+'/edit?as=member'"
                                                   class="btn btn_secondary btn_sm" th:text="#{editMember.button}">Edit
                                                    (Member)</a>
                                                <form th:if="${ projAndExp.projectExp.project_creator && canEdit}"
                                                      th:method="'delete'"
                                                      th:action="'/project/'+${projAndExp.project.uuid}+'/delete'">
                                                    <input
                                                            class="btn btn_secondary btn_sm"
                                                            value="Delete" type="submit">
                                                </form>
                                                <div class="middle">
                                                </div>
                                                <!--<div>
                                                    <img src="/image" alt="Google glass"/>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-project__desc"
                                         th:text="${projAndExp.projectExp.custom_description==null} ? ${projAndExp.project.description}:${projAndExp.projectExp.custom_description}"></div>
                                    <div class="d-flex">
                                        <!--Project with labels-->
                                        <!--<ul class="card-project__list list" >
                                            <li>
                                                <small class="d-block">Rating</small>
                                                <span th:text="${projAndExp.rating}"></span>
                                            </li>
                                            <li>
                                                <small class="d-block">Position</small>
                                                <span th:text="${projAndExp.projectExp.position}"></span>
                                            </li>
                                            <li>
                                                <small class="d-block">Role</small>
                                                <span th:text="${projAndExp.projectExp.role}"></span>
                                            </li>
                                        </ul>-->
                                        <ul class="card-project__list list">
                                            <li>
                                                <a th:href="'/project/'+${projAndExp.project.uuid}+'/like'"
                                                   th:text="${projAndExp.liked_by_user}?'Unlike':'Like'"></a>
                                                <!--<span th:text="${projAndExp.rating}"></span>-->
                                                <span style="cursor: default;"
                                                      th:text="${projAndExp.project.likedUserIDs.size()}"></span>
                                            </li>
                                            <li>
                                                <span th:text="${projAndExp.projectExp.position}"></span>
                                            </li>
                                            <li>
                                                <span th:text="${projAndExp.projectExp.role}"></span>
                                            </li>
                                        </ul>
                                        <!--TODO: Add expand button-->
                                    </div>
                                    <div class="card-project__btn" th:if="${projAndExp.project.confirmed == false}">
                                        <button type="button" class="btn btn_secondary btn_sm notAButton"
                                                th:text="#{notConfirmed.button}">Not Confirmed
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="common/footer :: footer"></div>
</div>
<!--<script src="/scripts/vendor/jquery-3.3.1.min.js" type="text/javascript"></script>-->
<script src="/scripts/vendor/babelHelpers.min.js" type="text/javascript"></script>
<script src="/scripts/hands/app.js" type="text/javascript"></script>
<script>
    const listEl = document.getElementById('sendOfr');
    const cancel = document.getElementById('cancel');
    function sendOffer() {
        listEl.style.display = listEl.style.display == 'none' ? 'block' : 'none';
    }
    cancel.addEventListener('click',function(){
        listEl.style.display = 'none';
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>